$font-text: 'Roboto', sans-serif;

.nav {
    &__link {
        font-size: 14px;
        padding: 8px 12px;
        font-family: $font-text;
        font-weight: 400;
        letter-spacing: 0.03em;
        color: #979797;
        text-decoration: none;
        &.active { color: #171818 }
        &:hover { color: #171818 }
    }
    @include tablet {
        display: none;
    }
    @include mobile {
        display: none;
    }
}
