$font-text: 'Roboto', sans-serif;

.footer {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    &__container {
        justify-content: space-between;
    }
    &__right .MuiSelect-outlined {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    &__text {
        font-size: 14px;
        font-family: $font-text;
        font-weight: 400;
        letter-spacing: 0.03em;
        color: #979797;
        padding: 8px 16px 8px 0;
    }
    &__right {
        @include mobile {
            flex-direction: column;
        }
    }
    @include mobile {
        height: 100px;
    }
}